Repository swecrocs/Crocs_SE_Project, pull requests merged in 2025-03, with the labels that each got.

#24 Added unit tests
  backend/controllers/controller_test.go
  backend/go.mod
  backend/go.sum
  backend/routes/auth_routes_test.go
  backend/utils/utils_test.go
Labels: backend, testing

#25 Add email syntax checking (#18)
  backend/controllers/auth-controller.go
  backend/go.mod
  backend/go.sum
  backend/utils/email.go
  backend/utils/email_test.go
Labels: bug, backend

#33 Initial support for research project retrieval
  backend/controllers/projects-controller.go
  backend/controllers/projects-controller_test.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/routes/projects-routes.go
Labels: backend

#35 Initial support for global project enumeration
  backend/controllers/projects-controller.go
  backend/controllers/projects-controller_test.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/routes/projects-routes.go
Labels: backend
